<h1>{{title}}</h1>
<button (click)="clicked()">Click</button>
<span *ngIf="enabled then conditiontrue else conditionfalse"></span>
<ng-template #conditiontrue>
  <div>This is true condition</div>
</ng-template>
<ng-template #conditionfalse>
  <div>This is false condition</div>
</ng-template>
<br/>

<select>
  <option *ngFor="let month of months; let i = index;" value="{{i+1}}">{{month}}</option>
</select>
<br/>

<input type="number" [(ngModel)]="c"/>
<br/>
<br/>
<div [ngSwitch]="c">
  <span *ngSwitchCase="1">Value is 1</span>
  <span *ngSwitchCase="2">Value is 2</span>
  <span *ngSwitchCase="3">Value is 3</span>
  <span *ngSwitchDefault>Value is default</span>
</div>